apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: k8-operator
    app.kubernetes.io/instance: infisical-operator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: secrets-operator
    app.kubernetes.io/part-of: k8-operator
    app.kubernetes.io/version: v0.8.1
    control-plane: controller-manager
    helm.sh/chart: secrets-operator-v0.8.1
  name: infisical-opera-controller-manager
  namespace: infisical
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: infisical-operator
      app.kubernetes.io/name: secrets-operator
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/instance: infisical-operator
        app.kubernetes.io/name: secrets-operator
        control-plane: controller-manager
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
                      - arm64
                      - ppc64le
                      - s390x
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
      containers:
        - args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:8080/
            - --logtostderr=true
            - --v=0
          env:
            - name: KUBERNETES_CLUSTER_DOMAIN
              value: cluster.local
          image: gcr.io/kubebuilder/kube-rbac-proxy:v0.15.0
          name: kube-rbac-proxy
          ports:
            - containerPort: 8443
              name: https
              protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 5m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
        - args:
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=127.0.0.1:8080
            - --leader-elect
          command:
            - /manager
          env:
            - name: KUBERNETES_CLUSTER_DOMAIN
              value: cluster.local
          image: infisical/kubernetes-operator:v0.8.1
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      nodeSelector: {}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: infisical-opera-controller-manager
      terminationGracePeriodSeconds: 10
      tolerations: []
