apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: infisical-operator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: secrets-operator
    app.kubernetes.io/version: v0.10.23
    control-plane: controller-manager
    helm.sh/chart: secrets-operator-v0.10.23
  name: infisical-opera-controller-manager
  namespace: infisical
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: infisical-operator
      app.kubernetes.io/name: secrets-operator
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/instance: infisical-operator
        app.kubernetes.io/name: secrets-operator
        control-plane: controller-manager
    spec:
      containers:
        - args:
            - --metrics-bind-address=:8443
            - --leader-elect
            - --health-probe-bind-address=:8081
          command:
            - /manager
          env:
            - name: KUBERNETES_CLUSTER_DOMAIN
              value: cluster.local
          image: infisical/kubernetes-operator:v0.10.23
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
      nodeSelector: {}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: infisical-opera-controller-manager
      terminationGracePeriodSeconds: 10
      tolerations: []
