apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vminsert
    app.kubernetes.io/instance: victoria-metrics
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: victoria-metrics-cluster
    helm.sh/chart: victoria-metrics-cluster-0.11.17
  name: victoria-metrics-victoria-metrics-cluster-vminsert
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vminsert
      app.kubernetes.io/instance: victoria-metrics
      app.kubernetes.io/name: victoria-metrics-cluster
  template:
    metadata:
      labels:
        app: vminsert
        app.kubernetes.io/instance: victoria-metrics
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: victoria-metrics-cluster
    spec:
      automountServiceAccountToken: true
      containers:
        - args:
            - --storageNode=victoria-metrics-victoria-metrics-cluster-vmstorage-0.victoria-metrics-victoria-metrics-cluster-vmstorage.default.svc.cluster.local:8400
            - --envflag.enable=true
            - --envflag.prefix=VM_
            - --loggerFormat=json
          image: victoriametrics/vminsert:v1.101.0-cluster
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 15
            tcpSocket:
              port: http
            timeoutSeconds: 5
          name: victoria-metrics-cluster-vminsert
          ports:
            - containerPort: 8480
              name: http
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: http
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 15
            timeoutSeconds: 5
          resources: {}
      serviceAccountName: victoria-metrics-victoria-metrics-cluster
