apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vminsert
    app.kubernetes.io/instance: victoria-metrics
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: victoria-metrics-cluster
    app.kubernetes.io/version: v1.135.0-cluster
    helm.sh/chart: victoria-metrics-cluster-0.34.0
  name: victoria-metrics-victoria-metrics-cluster-vminsert
  namespace: victoria-metrics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vminsert
      app.kubernetes.io/instance: victoria-metrics
      app.kubernetes.io/name: victoria-metrics-cluster
  template:
    metadata:
      labels:
        app: vminsert
        app.kubernetes.io/instance: victoria-metrics
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: victoria-metrics-cluster
    spec:
      automountServiceAccountToken: true
      containers:
        - args:
            - --envflag.enable
            - --envflag.prefix=VM_
            - --httpListenAddr=:8480
            - --loggerFormat=json
            - --storageNode=victoria-metrics-victoria-metrics-cluster-vmstorage-0.victoria-metrics-victoria-metrics-cluster-vmstorage.victoria-metrics.svc.cluster.local.:8400
          image: victoriametrics/vminsert:v1.135.0-cluster
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 15
            tcpSocket:
              port: http
            timeoutSeconds: 5
          name: vminsert
          ports:
            - containerPort: 8480
              name: http
          readinessProbe:
            failureThreshold: 10
            httpGet:
              path: /health
              port: http
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
      serviceAccountName: victoria-metrics-victoria-metrics-cluster
      terminationGracePeriodSeconds: 30
