{  
  servers :80,:443 {
    protocols h1 h2c h2 h3
  }
}

auth.madhan.app {
  reverse_proxy authentik-server:9000
}

(security_headers) {
    header * {
        Strict-Transport-Security "max-age=3600; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1; mode=block"
        -Server
        Referrer-Policy strict-origin-when-cross-origin
    }
}


netbird.madhan.app {
  import security_headers

  # Management HTTP API + embedded IdP
  reverse_proxy /api/* netbird-management:80
  reverse_proxy /oauth2/* netbird-management:80
  reverse_proxy /ws-proxy/management netbird-management:80
  reverse_proxy /management.ManagementService/* h2c://netbird-management:80

  # Signal (HTTP + gRPC over h2c)
  reverse_proxy /signalexchange.SignalExchange/* h2c://netbird-signal:80
  reverse_proxy /ws-proxy/signal netbird-signal:80

  # Relay over WebSocket
  reverse_proxy /relay netbird-relay:33080

  # Dashboard (catch-all)
  reverse_proxy * netbird-dashboard:80 {
      header_up Host {host}
      header_up X-Real-IP {remote}
  }
}
