kube_version: 1.32.0
kube_proxy_strict_arp: true

##############
### Addons ###
##############
helm_enabled: true
metrics_server_enabled: true
cert_manager_enabled: true
kube_vip_enabled: true
# argocd_enabled: true # Argocd installation fails in v2.28.0 - https://github.com/kubernetes-sigs/kubespray/issues/12223

################
### Kube-VIP ###
################
kube_vip_arp_enabled: true
kube_vip_controlplane_enabled: true
kube_vip_services_enabled: true
kube_vip_address: "192.168.1.10"
kube_vip_interface: "{% if has_gpu | default(false) %}enp6s18{% else %}ens18{% endif %}"
kube_vip_address_range: 192.168.1.11-192.168.1.20

loadbalancer_apiserver:
  address: "{{ kube_vip_address }}"
  port: 6443